.post {
  padding: 10pt 5pt;
  box-shadow: 0 1px 3px rgba(0,0,0,0.15);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  margin: 10px 0;
  border-radius: 2px;
  background-color: #FFF;
  font-size: 14px;
}

.post, .for {
  margin-right: 0;
}

.post:hover {
  box-shadow: 0 4px 10px 0 rgba(0,0,0,0.1);
//   transform: translateY(-2px);
}

.post-body {
  display: inline;
}

.post-vote-btn {
  padding: 0 5px;
}

.votes {
  margin-right: 5pt;
}

.for {
  border-left: 5px solid #00A8E8;
}

.against {
  border-left: 5px solid #F22B4A;
}

.position {
  display: inline-block;
}

.for-btn:hover {
  border: 1px solid #00A8E8;
  background-color: #00A8E8;
}

.against-btn:hover {
  border: 1px solid #F22B4A;
  background-color: #F22B4A;
}