.header-container {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: #FFF;
}

.navbar {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.link {
  color: white;
  text-decoration: none;
}

.navbar-right {
  float: right;

  .auth-link {
    margin-left: 10px;
  }
}

