.header-container {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: #FFF;
}

.link {
  color: white;
  text-decoration: none;
}

.auth-links {
  float: right;

  .auth-link {
    margin-left: 10px;
  }
}

