.post-textfield {
  width: 500px;
}

.warning {
  display: inline-block;
  color: red;
  margin: 15px 10px;
}

.post-form-submit-btn {
  margin-top: 10px;
  float: right;
}

.post-form-cancel-btn {
  margin-top: 10px;
  margin-right: 10px;
  float: right;
}

.post-form-close-btn {
  float: right;
  cursor: pointer;
}