.post-form-container {
  display: flex;
  justify-content: center;

  .post-textfield {
    width: 500px;
  }

  .warning {
    color: red;
    margin-left: 10px;
  }

  .post-form-submit-btn {
    margin-top: 10px;
    float: right;
  }
}