.login-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 30%;
  min-width: 300px;
  margin: 0 auto;
  
  .warning {
    color: red;
    margin-left: 10px;
  }
  
  .login-error-message {
    width: 100%;
    margin-top: 5px;
    text-align: center;
  }

  .login-button {
    float: right;
    padding-top: 15px;
  }
}