a {
  cursor: pointer;
}

.header-container {
  padding: 20px 20px 0 20px;
  background-color: #ffffff;
}

.navbar {
  position: relative;
  top: 10px;
  transform: translateY(-50%);
  font-size: 20px;
}

.link {
  color: #000000;
  text-decoration: none;
}

.navbar-right {
  float: right;
  display: inline-flex;

  .right-link {
    font-size: 15px;
    margin-left: 10px;
    border-radius: 2px;
  }

  .username-dropdown {
    float: right;
  }
}

.header-icon {
  height: 25px;
  margin-right: 10px;
}