a {
  cursor: pointer;
}

.header-container {
  height: 50px;
  padding: 20px;
}

.navbar {
  position: relative;
  top: 10px;
  transform: translateY(-50%);
  font-size: 20px;

  .debate-topic {
    top: 0;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    position: fixed;
  }
}

.link {
  color: #000000;
  text-decoration: none;
}

.navbar-right {
  float: right;
  display: inline-flex;

  .right-link {
    font-size: 15px;
    margin-left: 10px;
    border-radius: 2px;
    border: 1px solid #FFF;
    padding: 10px;
  }
  
  .right-link:hover {
    border: 1px solid purple;
  }
}

