.Posts {
  width: 48vw;
  display: inline-block;
  vertical-align: top;

  .vote-btn {
    display: inline-block;
    border: 1px solid #000000;
    border-radius: 2px;
    cursor: pointer;
    text-decoration: none;
    vertical-align: middle;

    .plus-button {
      margin-left: 5px;
      float: left;
    }

    .number-votes {
      margin-right: 5px;
      float: right;
    }
  }

  .for-btn:hover {
    border: 1px solid #00A8E8;
    background-color: #00A8E8;
  }

  .against-btn:hover {
    border: 1px solid #F22B4A;
    background-color: #F22B4A;
  }
 
  .position-border {
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .position-border-for {
    border-bottom: 3px solid #00A8E8;
  }

  .position-border-against {
    border-bottom: 3px solid #F22B4A;
  }

  .position-btn {
    min-width: 50px;
    margin-right: 7px;
  }
  
  .voted-for {
    background-color: #00A8E8;
    border: 1px solid #00A8E8;
    color: #ffffff;
  }

  .voted-against {
    background-color: #F22B4A;
    border: 1px solid #F22B4A;
    color: #ffffff;    
  }
}

.position-title {
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;

  .warning {
    position: fixed;
    color: red;
    font-size: 12px;
    font-weight: 100;
  }

  .warning-for {
    left: 10px;    
  }

  .warning-against {
    right: 10px;    
  }
}